body {
    background-color: #E1E7E0;
}

/* Carousel Section */
.carousel {
    height: 80vh;
}

.carousel-inner {
    height: 100%;
}

#oceanView {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.8);
    height: max-content;
    width: 50%;
}

.carousel-item {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

h1 {
    font-size: 70px;
    color: #E1E7E0;
}

h2 {
    font-size: 40px;
    color: #E1E7E0;
    text-align: center;
}

h4 {
    font-size: 20px;
}

/* Form Section */
.loginForm {
    background-color: #0C2D48;
    border-radius: 35px;
}

.labelStyle {
    color: #F7E2C7;
    font-size: 25px;
}

.inputStyle {
    height: 30px;
    width: 15vw;
}

.logInButton {
    font-size: 20px;
    background-color: #08392B;
    color: #E1E7E0;
    border-color: #E1E7E0;
    width: 8vw;
}

/* Card Section */
h3 {
    font-size: 70px;
    color: #08392B;
}

h5 {
    font-size: 40px;
    color: #F7E2C7;
    background: rgba(0, 0, 0, 0.8);
    text-align: center;
}

.viewMoreButton {
    font-size: 20px;
    color: #F7E2C7;
    background: rgba(0, 0, 0, 0.8);
    width: 8vw;
    border-radius: 30px;
    text-align: center;
}

a {
    text-decoration: none;
}

.hotelImage {
    width: 100%;
    height: 400px;
}