body {
    background-color: #08392B;
}


.signUpForm {
    background-color: #E1E7E0;
    border-radius: 35px;
    width: 50vw;
}

h1 {
    font-size: 50px;
    text-align: center;
    color: #08392B;
}

h2 {
    font-size: 50px;
    text-align: center;
    color: #E1E7E0;
}

.labelStyle {
    color: #08392B;
    font-size: 25px;
}

.inputStyle {
    height: 30px;
    width: 15vw;
}

.logInButton{
    font-size: 25px;
    background-color: #08392B;
    color: #E1E7E0;
    border-color: #E1E7E0;
    width: 9vw;
}

.tranBack {
    border: none;
    background-color: transparent;
    outline: none;
}

.homeButton{
    width: 80px;
    height: 80px;
}