body {
    background-color: #08392B;
}

/* Home Button */
.tranBack {
    border: none;
    background-color: transparent;
    outline: none;
}

.homeButton {
    width: 80px;
    height: 80px;
    border-radius: 30px;
}

h1 {
    font-size: 50px;
    text-align: center;
    color: #E1E7E0;
}

h2 {
    font-size: 50px;
    text-align: center;
    color: #001F3D;
}

h3 {
    font-size: 35px;
    text-align: center;
    color: #E1E7E0;
}

h4 {
    font-size: 30px;
    text-align: center;
    color: #001F3D;
}

h5 {
    font-size: 25px;
    text-align: center;
    color: #001F3D;
}

h6{
    font-size: 20px;
    text-align: center;
    color: #001F3D;
}

p {
    font-size: 27px;
    color: #E1E7E0;
    text-align: center;
}

.space {
    width: 15vw;
}

.name {
    width: 25vw;
}

.bookCover {
    width: 200px;
    height: 210px;
}

.hotelImage {
    width: 60vw;
    height: 70vh;
}

.bookView {
    background-color: #E1E7E0;
    border-radius: 35px;
    width: 95vw;
    text-align: center;
}

th {
    text-align: center;
    font-size: 30px;
    color: #08392B;
    padding: 5px;
}

.summaryTable {
    border: #001F3D solid 5px;
}

.editButton {
    font-size: 23px;
    background-color: #08392B;
    color: #E1E7E0;
    border-color: #E1E7E0;
    width: 15vw;
}

.editButton:hover {
    font-size: 23px;
    background-color: #001F3D;
    color: #E1E7E0;
    border-color: #E1E7E0;
    width: 15vw;
}

.logOutStyle {
    width: 70px;
    height: 70px;
}

.logOutView {
    background-color: #E1E7E0;
    border-radius: 35px;
    width: 90vw;
    text-align: center;
}