body {
    background-color: #E1E7E0;
}

/* Carousel Section */
.carousel {
    height: 80vh;
}

.carousel-inner {
    height: 100%;
}

.oceanView {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.8);
    height: max-content;
    width: 50%;
}

.carousel-item {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

h1 {
    font-size: 70px;
    color: #E1E7E0;
}

h2 {
    font-size: 40px;
    color: #E1E7E0;
    text-align: center;
}

h4 {
    font-size: 20px;
}


/* Form Section */
.loginForm {
    background-color: #0C2D48;
    border-radius: 35px;
}

.labelStyle {
    color: #E1E7E0;
    font-size: 25px;
}

.inputStyle {
    height: 40px;
    width: 15vw;
    text-align: center;
}

.logInButton {
    font-size: 25px;
    background-color: #08392B;
    color: #E1E7E0;
    border-color: #E1E7E0;
    width: 8vw;
}

.logInButton:hover {
    transform: scale(1.1);
    background-color: #B1D4E0;
    color: black;
    border: none;
}

/* Card Section */
h3 {
    font-size: 70px;
    color: #08392B;
    text-align: center;
}

p {
    font-size: 40px;
    color: #08392B;
    text-align: center;
}

h5 {
    font-size: 40px;
    color: #F7E2C7;
    background: rgba(0, 0, 0, 0.8);
    text-align: center;
}


.viewMoreButton {
    font-size: 20px;
    color: #F7E2C7;
    background: rgba(0, 0, 0, 0.8);
    width: 8vw;
    border-radius: 30px;
    text-align: center;
    outline: none;
}

.viewMoreButton:hover {
    transform: scale(1.3);
    background-color: #08392B;
    color: #F7E2C7;
}

a {
    text-decoration: none;
}

.hotelImage {
    width: 100%;
    height: 400px;
}

.checked {
    color: orange;
}

.starRating {
    font-size: 20px;
    color: #F7E2C7;
    background: rgba(0, 0, 0, 0.8);
    text-align: center;
    width: max-content;
}

/* Message View */
.messageView {
    background: rgba(0, 0, 0, 0.8);
    width: max-content;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

h6 {
    font-size: 40px;
    color: #E1E7E0;
    text-align: center;
    margin-right: 10px;
}

.close {
    background-color: transparent;
    color: #E1E7E0;
    font-size: 40px;
    margin-left: auto;
}

.existMessage {
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}

/* Home Button */

.tranBack {
    border: none;
    background-color: transparent;
    outline: none;
}

.homeButton {
    width: 80px;
    height: 80px;
}

.logOutStyle {
    width: 70px;
    height: 70px;
}

.extraInfoButtons {
    font-size: 23px;
    background-color: #001F3D;
    color: #E1E7E0;
    border-color: #E1E7E0;
    width: 12vw;
    border-radius: 30px;
}

.extraInfoButtons:hover {
    transform: scale(1.1);
    background-color: #08392B;
    color: #E1E7E0;
    border: none;
}
