body {
    background-color: #08392B;
}


.signUpForm {
    background-color: #E1E7E0;
    border-radius: 35px;
    width: 50vw;
}

h1 {
    font-size: 50px;
    text-align: center;
    color: #08392B;
}

h2 {
    font-size: 50px;
    text-align: center;
    color: #E1E7E0;
}

.labelStyle {
    color: #08392B;
    font-size: 28px;
}

.inputStyle {
    height: 40px;
    width: 15vw;
    text-align: center;
}

.logInButton{
    font-size: 25px;
    background-color: #08392B;
    color: #E1E7E0;
    border-color: #E1E7E0;
    width: 9vw;
}

.logInButton:hover {
    transform: scale(1.1);
    background-color: #B1D4E0;
    color: black;
    border: none;
}

.tranBack {
    border: none;
    background-color: transparent;
    outline: none;
}

.homeButton{
    width: 80px;
    height: 80px;
    border-radius: 30px;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }