body {
    background-image: url('../../static/img/background_3D.jpg');
}

.tranBack {
    border: none;
    background-color: transparent;
    outline: none;
}

.home {
    background-color: #E1E7E0;
    color: black;
    font-size: 25px;
}

.sort {
    background-color: #FF8300;
    color: black;
    font-size: 25px;
    border-color: #FF8300;
    width: 15vw;
    border-radius: 20px;
}

.homeButton {
    width: 80px;
    height: 80px;
}

h1 {
    font-size: 60px;
    text-align: center;
    color: #E1E7E0;
}

h2 {
    font-size: 50px;
    text-align: center;
    color: #08392B;
}

h3 {
    font-size: 30px;
    text-align: center;
    color: #08392B;
}

.infoButtons {
    font-size: 30px;
    background-color: #FF8300;
    color: black;
    border-color: #FF8300;
    width: 15vw;
    border-radius: 20px;
}

.infoButtons:hover {
    font-size: 30px;
    background-color: #001F3D;
    color: #E1E7E0;
    border-color: #E1E7E0;
    width: 15vw;
}

.staffView {
    background-color: #E1E7E0;
    border-radius: 35px;
    width: 90vw;
}


p {
    font-size: 20px;
    text-align: center;
    color: #08392B;
}

.background {
    background-color: #E1E7E0;
    width: max-content;
}

th {
    text-align: center;
    font-size: 30px;
    color: #FF8300;
    padding: 20px;
}

.name {
    width: 25vw;
}



